<!DOCTYPE html>
<html>
    <head>
        <title>Clasificador</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    </head>
    <body>
        <div>
            <h1>Clasificador de Animales</h1>
            
            <form class="conteiner_input" action="/" method="post" enctype="multipart/form-data" onsubmit="showLoader()">
                <label for="files" class="drop_container" id="dropcontainer">
                    <img class="image" src="{{ url_for('static', filename='images/foto.png') }}">
                    <span class="drop_title">Coloque los archivos .png, .jpg, .jpeg, .mp4 y/o .AVI aquí</span>
                    o
                    <input id="files" class="file" type="file" name="imagefile" accept=".png, .jpg, .jpeg, .mp4, .AVI" multiple>
                </label>
                <input class="btn" type="submit" value="Predecir" disabled="true">
            </form>
            <div class="popup" id="popup">
                <div class="loader" id="loader"></div>
                <p>Procesando, por favor espere...</p>
            </div>
            {% if download_link %}
            <div class="box_download">
                <div class="container_download">
                    <a class="download" href="{{ download_link }}"><img class="image_download" src="{{ url_for('static', filename='images/icons8-descargar-64.png') }}"> Descargar informe</a>
                </div>
            </div>
            {% endif %}
        </div>
        <script>
            const fileInput = document.querySelector('input[name="imagefile"]');
            const submitButton = document.querySelector('input[type="submit"]');
            const drop_container = document.getElementById("dropcontainer")
            const loader = document.getElementById("popup");

            submitButton.disabled = true;

            fileInput.addEventListener('change', () => {
                if (fileInput.files.length > 0) {
                    submitButton.disabled = false;
                } else {
                    submitButton.disabled = true;
                }
            });

            drop_container.addEventListener("dragover", (e) => {
                e.preventDefault();
                drop_container.classList.add("drag_active");
                console.log("1")
            }, false);

            drop_container.addEventListener("dragleave", () => {
                drop_container.classList.remove("drag_active");
                console.log("2")
            });

            drop_container.addEventListener("drop", (e) => {
                e.preventDefault();
                drop_container.classList.remove("drag_active");
                fileInput.files = e.dataTransfer.files;
                submitButton.disabled = false;
                console.log("3")
            });

            function showLoader() {
                loader.classList.add("open-popup");
            }
        </script>
    </body>
</html>
